/* Ensuring the Audio Player container is full width */
.audio-player-container {
    width: 100%; /* Adjust the class name as per your structure */
  }
  
  /* Extending the progress bar width */
  .rhap_progress-container {
    width: calc(117%); /* Assuming 10px padding on both sides */
    margin: 20 auto;
  }
  
  .rhap_progress-bar {
    width: 100% !important; /* Forces the progress bar to take the full width of its container */
  }
  